@model IEnumerable<IELStudentManager.Models.Estudante>

@{
    ViewData["Title"] = "Lista de Estudantes";
}

<div class="text-center mb-4">
    <h1 class="display-6 text-primary">Lista de Estudantes</h1>
</div>

<!-- Botão "Novo Estudante" à esquerda -->
<div class="d-flex justify-content-start mb-3">
    <a href="@Url.Action("Create", "Estudante")" class="btn btn-success">Novo Estudante</a>
</div>

<!-- Campo de Pesquisa à direita -->
<div class="d-flex justify-content-end mb-3">
   <form method="get" asp-action="Search" class="d-flex">
        <!-- Campo de Pesquisa por Nome, CPF ou Endereço -->
        <input type="text" name="searchTerm" class="form-control" placeholder="Pesquisar..." value="@ViewData["SearchTerm"]" />

        <!-- Campo de Pesquisa por Data de Conclusão -->
        <input type="date" name="dataConclusao" class="form-control ms-2" value="@ViewData["DataConclusao"]" />

        <button type="submit" class="btn btn-primary ms-2">Pesquisar</button>
    </form>
</div>

<table class="table table-bordered table-striped text-center">
    <thead class="bg-primary text-white">
        <tr>
            <th style="width: 20%;">Nome</th>
            <th style="width: 15%;">CPF</th>
            <th>Endereço</th>
            <th style="width: 15%;">Data de Conclusão</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudante in Model)
        {
            <tr>
                <td>@estudante.Nome</td>
                <td>@estudante.CPF</td>
                <td>@estudante.Endereco</td>
                <td>@estudante.DataConclusao.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="/Estudante/Delete/@estudante.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
